*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: hsl(229, 57%, 11%);
}
.image{
    justify-content: center;
    position: relative;
    margin-top: 120px;
}
.card-one{
position: absolute;
top: -40px;
left: 200px;
background: hwb(228 11% 60%);
padding: 20px;
border-top-right-radius: 50px;
width: 180px;
}
.icons{
   margin-top: 10px;
}
.card-two{
    position: absolute;
    background: hsl(228, 56%, 26%) ;
    width:380px;
    top: -40px;
    left: 400px;
    padding:38px;
}
.text{
    color: white; 
    margin-bottom: 5px;
}
.rate{
    display: flex;
    justify-content: space-between;

}
.loader{
    box-sizing: content-box;
    width: 300px;
    height: 10px;
    border-radius: 25px;
    background:hsl(229, 57%, 11%) ;
    box-shadow: inset 0 -1px 1px ;
}
.loader > span{
    display: block;
    height: 100%;
    border-radius: 25px;
    background-image: linear-gradient( hsl(6, 100%, 80%),hsl(335, 100%, 65%));

}
.gb{
    display: flex;
    position: absolute;
    background: rgb(255, 255, 255);
    padding:10px;
    top: -60px;
    left: 645px;
    border-radius: 10px;
}
.text-two{
    color:  rgb(161, 157, 157);
    margin-top: 5px;
}
.left{
    position:absolute;
   width: 0; 
   height: 0;
   border-top: 13px solid transparent;
   border-bottom: 13px solid transparent;
   border-right: 26px solid white;
   top:-30px;
   left:716px;

}
